.root{
-fx-background-color: #F4B41A;
-fx-border-radius: 10.0;
}

.label {
-fx-text-fill: black;
-fx-font-size: 14;
-fx-font-weight: 800;
}

.text-field {
-fx-background-color: rgb(25.0, 25.0, 112.0);
-fx-background-radius: 10.0;
-fx-text-fill: whitesmoke;
-fx-prompt-text-fill: rgb(94.0, 203.0, 234.0);
}

.button {
-fx-background-color: #143d59;
-fx-text-fill: #F4B41A;
-fx-font-size: 12;
-fx-font-weight: bold;
}

.button:hover {
-fx-background-color: black;
-fx-text-fill: #F4B41A;
-fx-font-size: 12;
-fx-font-weight: bold;
}

.progress-indicator {
	-fx-text-fill: white;
}
	
#dialogBackground {
-fx-background-color: steelblue;
}

.listView{
-fx-border-radius: 100.0;
}


